ken_ferris_wheel_basic6.png filter=lfs diff=lfs merge=lfs -text
ken_ferris_wheel_basic0.png filter=lfs diff=lfs merge=lfs -text
ken_ferris_wheel_basic1.png filter=lfs diff=lfs merge=lfs -text
ken_ferris_wheel_basic2.png filter=lfs diff=lfs merge=lfs -text
ken_ferris_wheel_basic3.png filter=lfs diff=lfs merge=lfs -text
ken_ferris_wheel_basic4.png filter=lfs diff=lfs merge=lfs -text
ken_ferris_wheel_basic5.png filter=lfs diff=lfs merge=lfs -text
ken_ferris_wheel_basic7.png filter=lfs diff=lfs merge=lfs -text
ken_ferris_wheel_basic8.png filter=lfs diff=lfs merge=lfs -text
